// Import Carbon Design System styles
@use '@carbon/react/scss/reset';
@use '@carbon/react/scss/grid';
@use '@carbon/react/scss/components';

// Import Satoshi font
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,500,600,700&display=swap');
