// Import Carbon Design System styles
@use '@carbon/react/scss/reset';
@use '@carbon/react/scss/grid';
@use '@carbon/react/scss/components';

// Import IBM Plex fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
